body {
    background: rgb(247, 247, 247);
    font: normal 15pt Arial;
}

header {
    color: rgb(209, 151, 96);
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    background: rgb(235, 225, 200);
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);

}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content:center;
    font: normal 15pt Arial;
}

div > input {
    border-radius: 10px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(219, 172, 84);
}

#flista {
    width: 150px;
    align-items: center;
    justify-content: center;
}


div#res {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btn {
    text-align: center;
    justify-content: center;
    align-items: center;
}

footer {
    color:rgb(209, 151, 96);
    text-align:center;
    font-style: italic;

}
